@page "/"
@inherits Conexao4ComponentBase
@using Conexao4.Produtos
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject PageLayout PageLayout
@{
    PageLayout.Title = L["Menu:Home"];
    PageLayout.ShowToolbar = false;
}

    <div class="row">
        @foreach (var iProduto in lProduto)
        {

            <div class="col-md-4 col-12">
                <div class="card flex-fill">
                    <img src="@iProduto.UrlImagem" class="card-img-top" alt="@iProduto.Nome" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@iProduto.Nome</h5>
                        <p class="card-text">@iProduto.Descricao</p>
                        @if (CurrentUser.IsAuthenticated)
                        {
                            <div class="mt-auto">
                                <button class="btn btn-primary" @onclick="@(() => AdicionarAoCarrinhoAsync(iProduto.Id))">@L["Adicionar ao Carrinho"]</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    @if (CurrentUser.IsAuthenticated)
    {
    <button class="btn btn-secondary" style="float: right;" @onclick="@OpenPedidosAsync">@L["Pedidos"]</button>
    <button class="btn btn-secondary" style="float: right;" @onclick="@OpenCarrinhoAsync">@L["Carrinho"]</button>
}

<Modal @ref="@PedidosModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Pedidos"]</ModalTitle>
                <CloseButton Clicked="CloseCarrinhoModalAsync" />
            </ModalHeader>
            <ModalBody>
                @foreach (var iPedido in lPedido)
                {

                    <div class="col-12">
                        <div class="card flex-fill">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@iPedido.Id</h5>      
                            </div>
                        </div>
                    </div>
                }
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCarrinhoModalAsync">
                    @L["Cancel"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@CarrinhoModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Carrinho"]</ModalTitle>
                <CloseButton Clicked="CloseCarrinhoModalAsync" />
            </ModalHeader>
            <ModalBody>
                @foreach (var iItemPedido in lItemPedido)
                {

                    <div class="col-12">
                        <div class="card flex-fill">
                            <img src="@iItemPedido.Produto.UrlImagem" class="card-img-top" alt="@iItemPedido.Produto.Nome" />
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@iItemPedido.Produto.Nome</h5>
                                <h5 class="card-title">@iItemPedido.Quantidade</h5>
                                <div class="mt-auto">
                                    <button class="btn btn-secondary" @onclick="@(() => RemoverDoCarrinhoAsync(iItemPedido.Id))">@L["Remover do Carrinho"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="FinalizarCarrinhoAsync">
                    @L["Finalizar Carrinho"]
                </Button>
                <Button Color="Color.Secondary"
                        Clicked="CloseCarrinhoModalAsync">
                    @L["Cancel"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
