@page "/Produtos"
@using Volo.Abp.Application.Dtos
@using Conexao4.Produtos
@using Conexao4.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<Conexao4Resource> LH
@inherits AbpCrudPageBase<IProdutoAppService, ProdutoDto, int, PagedAndSortedResultRequestDto>

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Produtos"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary"
                        Clicked="OpenCreateModalAsync">
                    @L["Novo Produto"]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ProdutoDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="ProdutoDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ProdutoDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ProdutoDto"
                                          Text="@L["Edit"]"
                                          Clicked="() => OpenEditModalAsync(context.Item)" />
                            <EntityAction TItem="ProdutoDto"
                                          Text="@L["Delete"]"
                                          Clicked="() => DeleteEntityAsync(context.Item)"
                                          ConfirmationMessage="() => GetDeleteConfirmationMessage(context.Item)" />

                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>

                <DataGridColumn TItem="ProdutoDto"
                                Field="@nameof(ProdutoDto.Nome)"
                                Caption="@L["Nome"]"></DataGridColumn>

                <DataGridColumn TItem="ProdutoDto"
                                Field="@nameof(ProdutoDto.Preco)"
                                Caption="@L["Preço"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Novo Produto"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Field>
                        <FieldLabel>@L["Nome"]</FieldLabel>
                        <TextInput @bind-Value="@NewEntity.Nome" />
                    </Field>   
                    <Field>
                        <FieldLabel>@L["Preço"]</FieldLabel>
                        <NumericInput TValue="float" @bind-Value="NewEntity.Preco" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["Descrição"]</FieldLabel>
                        <InputTextArea @bind-Value="@NewEntity.Descricao" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["URL da Imagem"]</FieldLabel>
                        <TextInput @bind-Value="@NewEntity.UrlImagem" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
@code
{
    public Produtos() // Constructor
    {
        LocalizationResource = typeof(Conexao4Resource);
    }
}
<Modal @ref="@EditModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingEntity.Nome</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Field>
                        <FieldLabel>@L["Nome"]</FieldLabel>
                        <TextInput @bind-Value="@EditingEntity.Nome" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["Preço"]</FieldLabel>
                        <NumericInput TValue="float" @bind-Value="EditingEntity.Preco" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["Descrição"]</FieldLabel>
                        <InputTextArea @bind-Value="@EditingEntity.Descricao" />
                    </Field>
                    <Field>
                        <FieldLabel>@L["URL da Imagem"]</FieldLabel>
                        <TextInput @bind-Value="@EditingEntity.UrlImagem" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @L["Cancelar"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @L["Salvar"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>