@page "/Produtos"
@using Volo.Abp.Application.Dtos
@using Conexao4.Produtos
@using Conexao4.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<Conexao4Resource> LH
@inherits AbpCrudPageBase<IProdutoAppService, ProdutoDto, Guid, PagedAndSortedResultRequestDto>

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Produtos"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary"
                        Clicked="OpenCreateModalAsync">
                    @L["Novo Produto"]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ProdutoDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="ProdutoDto"
                                Field="@nameof(ProdutoDto.Nome)"
                                Caption="@L["Nome"]"></DataGridColumn>

                <DataGridColumn TItem="ProdutoDto"
                                Field="@nameof(ProdutoDto.Preco)"
                                Caption="@L["Preço"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Novo Produto"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync"/>
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Name"]</FieldLabel>
                            <TextInput @bind-Text="@NewEntity.Nome">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextInput>
                        </Field>
                    </Validation>
                    <Field>
                        <FieldLabel>@L["Preço"]</FieldLabel>
                        <NumericInput TValue="float" @bind-Value="NewEntity.Preco" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">@L["Save"]</Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
@code
{
    public Produtos() // Constructor
    {
        LocalizationResource = typeof(Conexao4Resource);
    }
}